<h1>Hey Jord.</h1>
<div class="post-creator">
    <form class="post-form" action="/jordmin/create-post" method="POST">
        <label for="title">Title: </label>
        <input required type="text" name="title" id="title">

        <label for="description">Description: </label>
        <input required type="text" name="description" id="description">
    
        <label for="body">Body: </label>
        <textarea name="body" id="body"></textarea>

        <input type="submit">
    </form>
</div>